div > .vimiumHintMarker {
    /* linkhint boxes */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
     border: 1px solid #E3BE23;
     color: black;
}
 div > .vimiumHintMarker span {
    /* linkhint text */
     color: black;
     background-color: #1c1c1c;
     font-weight: bold;
     font-size: 12px;
}
 div > .vimiumHintMarker > .matchingCharacter {
     background-color: #1c1c1c;
}
 #vomnibar, .vomnibarSearchArea {
     background-color: #1c1c1c;
}
 #vomnibar li {
     background-color: #1c1c1c;
}
 #vomnibar input {
     color: white;
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 20px;
     height: 34px;
     margin-bottom: 0;
     padding: 4px;
     background-color: #1c1c1c;
     border-radius: 3px;
     border: 1px solid grey;
     box-shadow: #444 0px 0px 1px;
     width: 100%;
     outline: none;
     box-sizing: border-box;
}
 #vomnibar ul {
     background-color: #1c1c1c;
}
 #vomnibar .vomnibarSearchArea {
     display: block;
     padding: 10px;
     background-color: #1c1c1c;
     border-radius: 4px 4px 0 0;
     border-bottom: 1px solid black;
}
 #vomnibar {
     border: 1px solid #0f0f0e;
}
 #vomnibar li .vomnibarUrl {
     white-space: nowrap;
     color: #21b9ff;
}
 #vomnibar li em, #vomnibar li .vomnibarTitle {
     color: white;
     margin-left: 4px;
     font-weight: normal;
}
 #vomnibar li .vomnibarSource {
     color: #3f841a;
     margin-right: 4px;
}
 #vomnibar li {
     border-bottom: 1px solid #000;
}
 #vomnibar li em .vomnibarMatch, #vomnibar li .vomnibarTitle .vomnibarMatch {
     color: #8a8d8d;
}
 #vomnibar li .vomnibarMatch {
     font-weight: bold;
     color: #2f51b3;
}
 #vomnibar li.vomnibarSelected {
     background-color: #2d2d2d;
     font-weight: normal;
}