/*! =============
@name             ShadowFox
@description      A universal dark theme for Firefox 57+
@version          1.6.0
@lastUpdated      October 7, 2018
@author           overdodactyl
@homepageURL      https://overdodactyl.github.io/ShadowFox/
@sourceCode       https://github.com/overdodactyl/ShadowFox
@supportURL       https://github.com/overdodactyl/ShadowFox/issues
@subreddit        https://www.reddit.com/r/ShadowFoxCSS/
@slackInvitation  https://join.slack.com/t/shadowfox-workspace/shared_invite/enQtMzU3NTU2NTQ0NDA1LTcwN2I1M2I4MzlkMWFlMWEzODc2MTY1NzU2NjhlYTgzOGY5ZTQzM2UxZTFiZDMxNDM1NDMyNjlhOWQ4MWQ3ZDc
@license          MIT License Copyright (c) 2017 overdodactyl
================= */
@-moz-document url-prefix(https://discovery.addons.mozilla.org),
url-prefix(chrome://),
url-prefix(about:),
url(https://www.mozilla.org/credits/),
url-prefix(https://addons.mozilla.org),
url-prefix(http://addons.mozilla.org),
url-prefix(moz-extension),
url-prefix(view-source),
regexp(".*\\.(p|P)(d|D)(f|F).*") {
  :root {
    --magenta-50: #ff1ad9;
    --magenta-60: #ed00b5;
    --magenta-70: #b5007f;
    --magenta-80: #7d004f;
    --magenta-90: #440027;
    --purple-50: #9400ff;
    --purple-60: #8000d7;
    --purple-70: #6200a4;
    --purple-80: #440071;
    --purple-90: #25003e;
    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;
    --teal-50: #00feff;
    --teal-60: #00c8d7;
    --teal-70: #008ea4;
    --teal-80: #005a71;
    --teal-90: #002d3e;
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --red-50: #ff0039;
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --orange-50: #ff9400;
    --orange-60: #d76e00;
    --orange-70: #a44900;
    --orange-80: #712b00;
    --orange-90: #3e1300;
    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #1a1c1e;
    --grey-70: #1a1c1e;
    --grey-80: #1a1c1e;
    --grey-90: #0c0c0d;
    --code-green: #86de74!important;
    --warning-color: #FCE19F;
    --warning-background-color: #44391F;
    --theme-highlight-green: #86DE74;
    --theme-highlight-blue: #75BFFF;
    --theme-highlight-purple: #B98EFF;
    --theme-highlight-red: #FF7DE9;
    --theme-highlight-yellow: #FFF89E;
    --theme-highlight-bluegrey: #5e88b0;
    --theme-highlight-lightorange: #d99b28;
    --theme-highlight-orange: #d96629;
    --theme-highlight-pink: #df80ff;
    --tone-1: var(--grey-10);
    --tone-2: var(--grey-20);
    --tone-3: var(--grey-30);
    --tone-4: var(--grey-40);
    --tone-5: var(--grey-50);
    --tone-6: var(--grey-60);
    --tone-7: var(--grey-70);
    --tone-8: var(--grey-80);
    --tone-9: var(--grey-90);
    --accent-1: var(--blue-40);
    --accent-2: var(--blue-50);
    --accent-3: var(--blue-60);
    --in-content-page-color: var(--tone-4)!important;
    --in-content-page-background: var(--tone-7)!important;
    --in-content-text-color: var(--tone-3)!important;
    --in-content-selected-text: var(--tone-1)!important;
    --in-content-selected-text-background: #5675b9;
    --in-content-box-background: var(--tone-6)!important;
    --in-content-box-background-odd: #f3f6fa;
    --in-content-box-background-hover: var(--tone-6)!important;
    --in-content-box-background-active: var(--tone-6)!important;
    --in-content-box-border-color: var(--tone-5)!important;
    --in-content-item-hover: rgba(0,149,221,0.25);
    --in-content-item-selected: var(--tone-8)!important;
    --in-content-border-highlight: var(--accent-1)!important;
    --in-content-border-focus: var(--accent-1)!important;
    --in-content-border-color: var(--tone-6)!important;
    --in-content-category-outline-focus: 1px dotted #0a84ff;
    --in-content-category-text: var(--tone-4)!important;
    --in-content-category-text-active: #0c0c0d;
    --in-content-category-text-selected: var(--accent-1)!important;
    --in-content-category-text-selected-active: #0060df;
    --in-content-category-background-hover: rgba(12,12,13,0.1);
    --in-content-category-background-active: rgba(12,12,13,0.15);
    --in-content-category-background-selected-hover: rgba(12,12,13,0.15);
    --in-content-category-background-selected-active: rgba(12,12,13,0.2);
    --in-content-tab-color: #424f5a;
    --in-content-link-color: var(--accent-1)!important;
    --in-content-link-color-hover: var(--accent-2)!important;
    --in-content-link-color-active: #003eaa;
    --in-content-link-color-visited: #0a8dff;
    --in-content-primary-button-background: var(--accent-2)!important;
    --in-content-primary-button-background-hover: var(--accent-3)!important;
    --in-content-primary-button-background-active: var(--accent-3)!important;
    --in-content-table-border-dark-color: var(--tone-7)!important;
    --in-content-table-header-background: var(--accent-2)!important;
    --theme-selection-background: var(--accent-2)!important;
    --theme-selection-background-hover: var(--accent-1)!important;
    --in-content-category-header-background: var(--tone-8)!important;
    --selected-icon-fill-color: var(--tone-2)!important;
    --in-content-dark-header-background: var(--tone-9)!important;
    --tab-line-selected-color: var(--accent-2)!important;
    --secure-connection-color: var(--accent-1);
    --tab-background-color: var(--tone-9)!important;
    --tab-color: var(--in-content-selected-text);
    --theme-sidebar-background: #1B1B1D!important;
    --card-outline-color: var(--in-content-box-border-color)!important;
    --cm-background: var(--tone-8)!important;
    --cm-selection: #353b48!important;
    --cm-marker: #555!important;
    --cm-linenumber: #58575c!important;
    --cm-cursor: #fff!important;
    --cm-active-line-background: rgba(185,215,253,.15)!important;
    --cm-matching-bracket: rgba(255,255,255,.25)!important;
    --cm-search-background: rgba(24,29,32,1)!important;
    --cm-red: #de7474!important;
    --start-indicator-for-updater-scripts: black;
    --end-indicator-for-updater-scripts: black;
--dummy-variable-for-updater-scripys: black
  }
}
menupopup,
menupopup > menu > menupopup,
menupopup scrollbox,
popup,
popup > menu > menupopup {
  -moz-appearance: none!important;
  background: var(--in-content-box-background)!important;
  border: none!important;
  padding: 0!important
}
menu.subviewbutton > .menu-right {
  fill: #000!important
}
.menu-right {
  filter: invert(95%)!important
}
#context-navigation menuitem,
.panel-arrowcontent {
  color: var(--in-content-selected-text)!important;
  background: var(--in-content-box-background)!important
}
#context-navigation menuitem:hover {
  background: var(--in-content-primary-button-background-hover)!important
}
menuitem,
menupopup menu {
  -moz-appearance: none!important;
  color: var(--in-content-selected-text)!important;
  background: var(--in-content-box-background)!important
}
menupopup menuseparator {
  -moz-appearance: none!important;
  padding: 1px!important;
  margin: 5px 0!important;
  background: var(--in-content-table-border-dark-color)!important;
  border-top: none!important
}
#context-navigation menuitem[disabled=true],
menu[disabled=true],
menuitem[disabled=true] {
  color: var(--in-content-box-border-color)!important
}
menu[disabled=true]:hover,
menuitem:hover[disabled=true] {
  color: var(--in-content-box-border-color)!important;
  background-color: var(--in-content-box-background)!important
}
#context-navigation menuitem:hover[disabled=true] {
  color: var(--in-content-box-border-color)!important;
  background-color: var(--in-content-box-background)!important
}
menuitem[_moz-menuactive=true],
menupopup menu[_moz-menuactive=true] {
  color: var(--in-content-selected-text)!important;
  background-color: var(--in-content-primary-button-background-hover)!important
}

/* the 0px fixes the white line on the right side */
vbox#sidebar-box.chromeclass-extrachrome {
  border-color: var(--in-content-category-header-background)!important;
  border-right: 0px!important;
  border-style: solid!important;
/*  resize sidebar  */
  min-width: 270px;
}
#_testpilot-containers_7 .menu-iconic-left,
#treestyletab_piro_sakura_ne_jp_8 .menu-iconic-left {
  filter: invert(55%)!important
}
@media screen and (-moz-windows-theme),
screen and (-moz-windows-classic),
screen and (-moz-windows-default-theme),
screen and (-moz-os-version:windows-win7),
screen and (-moz-os-version:windows-win8),
screen and (-moz-os-version:windows-win10) {
  menupopup menuseparator {
    padding: 0!important;
    border-color: var(--in-content-table-border-dark-color)!important
  }
  #context-navigation,
  #context-sep-navigation {
    padding: 0!important
  }
  #BMB_bookmarksPopup menupopup {
    padding: 4px 0 0!important
  }
  #BMB_bookmarksPopup menupopup[placespopup=true] > hbox,
  #personal-bookmarks menupopup,
  .box-inherit scrollbox-innerbox,
  .panel-arrowcontent,
  menupopup#BMB_bookmarksPopup > menu > menupopup > hbox,
  menupopup#PlacesChevronPopup,
  menupopup#bookmarksMenuPopup,
  menupopup#bookmarksMenuPopup > menu > menupopup,
  menupopup#bookmarksMenuPopup menupopup[placespopup=true],
  menupopup#contentAreaContextMenu,
  menupopup#contentAreaContextMenu menupopup,
  menupopup#downloadsContextMenu,
  menupopup#placesContext,
  menupopup#tabContextMenu,
  menupopup#tabContextMenu menupopup,
  menupopup#toolbar-context-menu,
  toolbaritem#menubar-items menupopup {
    border-color: var(--in-content-box-background)!important;
    border-width: 1px!important;
    border-style: solid!important
  }
  #bookmarksMenuPopup,
  #personal-bookmarks menupopup .bookmark-item,
  menupopup#goPopup {
    padding-left: 4px!important;
    padding-right: 4px!important
  }
  menupopup#contentAreaContextMenu menupopup,
  menupopup#tabContextMenu > menu > menupopup > .popup-internal-box,
  menupopup#toolbar-context-menu {
    padding-left: px!important;
    padding-right: 2px!important
  }
  menupopup,
  menupopup > menu > menupopup {
    padding: 4px 0!important
  }
  #customization-toolbar-menu,
  toolbaritem#menubar-items menupopup,
  toolbaritem#menubar-items menupopup > menu > menupopup {
    padding-left: 2px!important;
    padding-right: 2px!important
   
  }
  #personal-bookmarks menupopup menuitem,
  menupopup#contentAreaContextMenu menu,
  menupopup#contentAreaContextMenu menuitem {
    padding-top: px!important;
    padding-bottom: 1px!important
  }
  menupopup#contentAreaContextMenu > .menuitem-iconic {
    padding-top: 0!important;
    padding-bottom: 0!important
  }
  menupopup .menu-right {
    
    margin-right: 0!important
  }
}
@-moz-document url(chrome://browser/content/places/places.xul) {
  toolbar {
    -moz-appearance: none!important;
    background-color: var(--in-content-category-header-background)!important;
    border: none!important
  }
  listbox,
  textbox {
    -moz-appearance: none!important;
    background-color: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important;
    min-height: 20px!important;
    padding: 0 0 0 4px!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important;
    
    border-radius: 3px!important
      
  }
  #editBMPanel_rows > row > hbox > textbox,
  #editBMPanel_rows > row > textbox,
  #editBMPanel_tagsSelector {
    background: var(--in-content-box-background)!important
  }
  #placesToolbar > toolbarbutton {
    margin: 6px 4px 5px!important;
    -moz-appearance: none!important;
    background-color: var(--tone-4)!important;
    border-radius: 5px!important;
    
    filter: invert(100%)!important
      
  }
  #placesList {
    -moz-appearance: none!important;
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-page-background)!important
  }
  #placesView > splitter {
    border-color: var(--in-content-border-color)!important
  }
  #places #downloadsRichListBox {
    -moz-appearance: none!important;
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-box-background)!important
  }
  #detailsDeck {
    border: none!important;
    background-color: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  .expander-down,
  .expander-up {
    filter: invert(77%)!important
  }
  #placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text() {
    color: var(--in-content-text-color)!important
  }
  #places treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected),
  #placesList > treechildren::-moz-tree-row(selected) {
    -moz-appearance: none!important;
    -moz-font-smoothing-background-color: none!important;
    border-top: none!important;
    background: var(--theme-selection-background)!important;
    color: var(--in-content-text-color)!important
  }
  #placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected),
  #placesList > treechildren::-moz-tree-cell-text(selected) {
    color: var(--in-content-text-color)!important
  }
  #places treechildren::-moz-tree-row {
    background-color: transparent!important
  }
  #places treechildren::-moz-tree-image {
    fill: var(--in-content-page-color)!important
  }
  #places treechildren::-moz-tree-image(selected) {
    fill: var(--selected-icon-fill-color)!important
  }
  #placeContent > treechildren::-moz-tree-cell,
  #placeContent > treechildren::-moz-tree-column {
    border-color: var(--in-content-box-border-color)!important
  }
  #contentView treecol {
    -moz-appearance: none!important;
    border: none!important;
    background: var(--in-content-category-header-background)!important;
    color: var(--in-content-text-color)!important;
    border-right: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  tree {
    background-color: var(--in-content-box-background)!important
  }
  #editBMPanel_tagsSelectorExpander.expander-down {
    -moz-appearance: -moz-mac-disclosure-button-closed!important;
    filter: invert(79%)!important
  }
  #editBMPanel_tagsSelectorExpander.expander-up {
    -moz-appearance: -moz-mac-disclosure-button-open!important;
    filter: invert(79%)!important
  }
  #main-menubar {
    background-color: var(--in-content-category-header-background)!important
  }
  #main-menubar > * {
    color: var(--in-content-page-color)!important
  }
  #main-menubar > :hover,
  menubar > menu[_moz-menuactive=true][open=true] {
    -moz-appearance: none!important;
    background: var(--in-content-page-background)!important
  }
  @media screen and (-moz-windows-theme),
  screen and (-moz-windows-classic),
  screen and (-moz-windows-default-theme),
  screen and (-moz-os-version:windows-win7),
  screen and (-moz-os-version:windows-win8),
  screen and (-moz-os-version:windows-win10) {
    #metaTagsCaption,
    #security-identity,
    #security-identity-groupbox,
    #security-privacy,
    #security-privacy-groupbox,
    #security-technical,
    #security-technical-groupbox {
      -moz-appearance: none!important;
      background-color: var(--in-content-page-background)!important;
      border: none!important;
      color: var(--in-content-selected-text)!important
    }
    #placesMenu > menu {
      color: var(--in-content-page-color)!important
    }
    #security-identity-groupbox,
    #security-privacy-groupbox,
    #security-technical-groupbox {
      -moz-appearance: none!important;
      background-color: var(--in-content-category-header-background)!important
    }
    #places treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover):not(.autocomplete-treebody)::-moz-tree-cell-text(selected) {
      background: 0 0!important;
      -moz-border-top-colors: transparent!important;
      -moz-border-right-colors: transparent!important;
      -moz-border-left-colors: transparent!important;
      -moz-border-bottom-colors: transparent!important
    }
  }
  @media screen and (-moz-os-version:windows-win7) {
    treechildren {
      --treechildren-outline: none!important
    }
  }
}
@-moz-document url-prefix(about:),
url-prefix(chrome://browser) {
  .checkbox-check,
  .prefs-pane [type=checkbox]:checked + label::before,
  .prefs-pane [type=checkbox]:not(:checked) + label::before,
  .radio-check,
  input[type=checkbox] {
    -moz-appearance: none!important;
    border: 1px solid!important;
    background-color: var(--in-content-box-background)!important;
    background-image: none!important;
    box-shadow: none!important;
    border-color: var(--in-content-box-border-color)!important
  }
  radio[disabled=true] {
    color: var(--in-content-box-border-color)!important
  }
  .radio-check[selected] {
    list-style-image: url(chrome://global/skin/in-content/radio.svg);
    fill: var(--in-content-border-highlight)!important;
    -moz-context-properties: fill,stroke;
    stroke: none;
    border-radius: 50%!important
  }
  .checkbox-check[checked] {
    list-style-image: url(data:image/svg+xml;base64,PCEtLSBUaGlzIFNvdXJjZSBDb2RlIEZvcm0gaXMgc3ViamVjdCB0byB0aGUgdGVybXMgb2YgdGhlIE1vemlsbGEgUHVibGljCiAgIC0gTGljZW5zZSwgdi4gMi4wLiBJZiBhIGNvcHkgb2YgdGhlIE1QTCB3YXMgbm90IGRpc3RyaWJ1dGVkIHdpdGggdGhpcwogICAtIGZpbGUsIFlvdSBjYW4gb2J0YWluIG9uZSBhdCBodHRwOi8vbW96aWxsYS5vcmcvTVBMLzIuMC8uIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIxIiBoZWlnaHQ9IjIxIiB2aWV3Qm94PSIwIDAgMjEgMjEiPgogIDxwYXRoIGZpbGw9ImNvbnRleHQtZmlsbCIgc3Ryb2tlPSJjb250ZXh0LXN0cm9rZSIgc3Ryb2tlLXdpZHRoPSIwLjUiIGQ9Ik0gOS4zOSwxNi41IDE2LjI4LDYgMTQuNzcsNC41IDkuMzcsMTIuNyA2LjI4LDkuMiA0LjcsMTAuNyB6Ii8+Cjwvc3ZnPg==);
    fill: var(--in-content-border-highlight)!important;
    -moz-context-properties: fill,stroke!important;
    stroke: none
  }
  html body div.ancillary div div.opsRow div.opsRowLabel label input,
  html body div.ancillary div div.opsRow div.opsRowLabel label input#verbose {
    -moz-appearance: checkbox!important;
    min-height: 10px!important;
    min-width: 10px!important;
    margin-top: -5px;
    margin-bottom: -1px
  }
}
@-moz-document url-prefix(about:),
url-prefix(chrome://browser/content/preferences/),
url(chrome://passwordmgr/content/passwordManager.xul),
url(chrome://formautofill/content/manageAddresses.xhtml),
url-prefix(chrome://pippki),
url(chrome://browser/content/pageinfo/pageInfo.xul) {
  ::-moz-tree-row(selected) {
    -moz-appearance: none!important;
    background-color: red!important
  }
  treechildren::-moz-tree-row,
  treechildren:not(.autocomplete-treebody)::-moz-tree-row(multicol,odd) {
    background-color: var(--in-content-box-background)!important
  }
  treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
    background-color: var(--theme-selection-background-hover)!important
  }
  tree {
    background-color: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important
  }
  treechildren::-moz-tree-cell-text(hover),
  treechildren::-moz-tree-cell-text(selected) {
    color: var(--in-content-text-color)!important
  }
  treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
    background-color: var(--theme-selection-background)!important
  }
  treecol:not([hideheader=true]):not(:first-child),
  treecolpicker {
    border-image: linear-gradient(transparent 0,transparent 20%,var(--tone-5) 20%,var(--tone-5) 80%,transparent 80%,transparent 100%) 1 1!important
  }
  menulist:not([editable=true]) > .menulist-dropmarker,
  treecol:not([hideheader=true]) > .treecol-sortdirection[sortDirection] {
    fill: var(--in-content-category-text)!important
  }
  fieldset > legend,
  treecol:not([hideheader=true]),
  treecolpicker {
    background-color: var(--in-content-category-header-background)!important;
    color: var(--in-content-page-color)!important
  }
  prefpane#mainPrefPane groupbox#applicationsGroup richlistbox#handlersView richlistitem[selected=true] {
    background: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  tab {
    color: var(--in-content-page-color)!important
  }
  tab:hover {
    color: var(--in-content-selected-text)!important
  }
  tab[selected] {
    color: var(--in-content-link-color)!important
  }
  textbox[type=search] > moz-input-box > .textbox-search-sign {
    filter: invert(65%)
  }
  @media screen and (-moz-os-version:windows-win7) {
    treechildren {
      --treechildren-outline: none!important
    }
  }
}
@-moz-document url(chrome://browser/content/aboutDialog.xul) {
  #clientBox {
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-page-background)!important
  }
  #bottomBox {
    background: var(--in-content-category-header-background)!important
  }
}
:root {
  --panel-separator-color: var(--in-content-border-color)!important;
  --tab-loading-fill: var(--in-content-category-text-selected)!important
}
/* #urlbar[focused=true],
.searchbar-textbox[focused=true] {
  border: 1px solid!important;
  box-shadow: 0 1px 4px var(--in-content-border-focus)!important;
  border-color: var(--in-content-border-focus)!important
} */
#PopupAutoCompleteRichResult .autocomplete-richlistbox,
.searchbar-treebody::-moz-tree-row {
  background-color: var(--in-content-box-background)!important
}
#PopupAutoCompleteRichResult .autocomplete-richlistitem,
.autocomplete-tree {
  border-bottom-color: var(--in-content-page-color)!important
}
.autocomplete-richlistitem[selected=true],
.searchbar-treebody::-moz-tree-row(selected) {
  background-color: var(--theme-selection-background)!important
}
#PopupSearchAutoComplete tree,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-action,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-separator,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-title,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-tree {
  color: var(--in-content-page-color)!important
}
.ac-action[selected],
.ac-separator[selected],
.ac-title[selected],
.ac-url[selected],
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected=true] .ac-action,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected=true] .ac-separator,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected=true] .ac-title,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected=true] .ac-url {
  color: var(--in-content-selected-text)!important
}
.ac-url,
.search-panel-input-value {
  color: var(--in-content-link-color)!important
}
.search-one-offs {
  background: var(--in-content-box-background)!important
}
.search-panel-header,
.search-panel-one-offs {
  background: var(--in-content-category-header-background)!important;
  border-top: none!important
}
.autocomplete-history-popup,
panel[type=autocomplete-richlistbox],
panel[type=autocomplete] {
  color: var(--in-content-page-color)!important;
  background: var(--in-content-box-background)!important
}
.searchbar-treebody::-moz-tree-row(hover),
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem:hover,
treechildren.searchbar-treebody::-moz-tree-row(hover) {
  background-color: var(--in-content-page-background)!important
}
#urlbar ::-moz-selection,
.searchbar-textbox ::-moz-selection {
  background: var(--in-content-selected-text-background)!important
}
#editBMPanel_folderMenuList,
#editBMPanel_foldersExpander,
#editBMPanel_rows > row > hbox > textbox,
#editBMPanel_rows > row > textbox,
#editBMPanel_tagsSelectorExpander,
#editBookmarkPanelDoneButton,
#editBookmarkPanelRemoveButton {
  -moz-appearance: none!important;
  background: var(--in-content-page-background)!important;
  color: var(--in-content-page-color)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important;
  box-shadow: none!important
}
#editBookmarkPanel .expander-down > .button-box > .button-icon {
  filter: invert(65%)!important
}
#editBMPanel_folderTree,
#editBMPanel_tagsSelector {
  -moz-appearance: none!important;
  background: var(--in-content-page-background)!important;
  color: var(--in-content-page-color)!important;
  opacity: 1!important
}
#editBMPanel_folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-row,
#editBMPanel_tagsSelector treechildren:not(.autocomplete-treebody)::-moz-tree-row {
  background: var(--in-content-box-background)!important;
  color: var(--in-content-page-background)!important
}
#editBMPanel_folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover),
#editBMPanel_tagsSelector treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
  background: var(--theme-selection-background-hover)!important;
  color: var(--in-content-selected-text)!important;
  -moz-border-top-colors: var(--theme-selection-background-hover)!important;
  -moz-border-right-colors: var(--theme-selection-background-hover)!important;
  -moz-border-left-colors: var(--theme-selection-background-hover)!important;
  -moz-border-bottom-colors: var(--theme-selection-background-hover)!important
}
#editBMPanel_folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(hover) {
  color: var(--in-content-selected-text)!important
}
#editBMPanel_folderTree treechildren::-moz-tree-image {
  fill: var(--in-content-page-color)!important
}
#editBMPanel_folderTree treechildren::-moz-tree-image(hover),
#editBMPanel_folderTree treechildren::-moz-tree-image(selected) {
  fill: var(--selected-icon-fill-color)!important
}
#editBMPanel_folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected,current,focus) {
  background: var(--theme-selection-background)!important
}
listitem[selected=true] {
  background-color: var(--theme-selection-background)!important;
  color: var(--in-content-selected-text)!important
}
#editBMPanel_folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected,current) {
  background: var(--theme-selection-background)!important
}
#editBMPanel_folderTree {
  border-color: var(--in-content-box-border-color)!important;
  border-bottom: none!important
}
#editBMPanel_newFolderBox {
  background: var(--in-content-page-background)!important;
  border-color: var(--in-content-box-border-color)!important;
  box-shadow: none!important
}
@-moz-document url(chrome://browser/content/places/bookmarkProperties.xul),
url(chrome://browser/content/places/bookmarkProperties2.xul) {
  #bookmarkproperties {
    -moz-appearance: none!important;
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-category-header-background)!important
  }
  textbox {
    -moz-appearance: none!important;
    min-height: 20px!important;
    padding: 2px!important;
    border: 1px solid var(--in-content-box-border-color);
    color: var(--in-content-page-color)!important;
    background: var(--in-content-box-background)!important
  }
  #editBMPanel_folderTree {
    background: var(--in-content-box-background)!important
  }
  #editBMPanel_folderMenuList {
    background-color: var(--in-content-box-background)!important;
    padding: 2px!important
  }
  #editBMPanel_foldersExpander.expander-down,
  #editBMPanel_tagsSelectorExpander.expander-down {
    -moz-appearance: -moz-mac-disclosure-button-closed!important;
    filter: invert(79%)!important
  }
  #editBMPanel_foldersExpander.expander-up,
  #editBMPanel_tagsSelectorExpander.expander-up {
    -moz-appearance: -moz-mac-disclosure-button-open!important;
    filter: invert(78%)!important
  }
  #editBMPanel_newFolderButton,
  .dialog-button {
    -moz-appearance: none!important;
    background: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important;
    border-radius: 3px!important
  }
  .dialog-button[disabled=true] {
    opacity: .4!important
  }
  #editBMPanel_folderTree {
    border: 1px solid;
    border-radius: 3px;
    border-color: var(--in-content-box-border-color)!important
  }
  #editBMPanel_newFolderBox {
    background: 0 0!important
  }
}
@-moz-document url(chrome://browser/content/sanitize.xul) {
  #SanitizeDialog {
    -moz-appearance: none!important;
    background: var(--in-content-category-header-background)!important;
    color: var(--in-content-page-color)!important
  }
  .checkbox-check[checked] {
    list-style-image: url(chrome://global/skin/icons/check.svg);
    -moz-context-properties: fill;
    fill: var(--in-content-border-highlight)!important
  }
  button {
    -moz-appearance: none!important;
    background-color: var(--in-content-page-background)!important;
    border: 1px solid!important;
    border-radius: 3px!important;
    color: var(--in-content-page-color)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  button:hover {
    background-color: var(--in-content-box-background)!important
  }
}
@-moz-document url("chrome://global/content/commonDialog.xul") {
  #commonDialog {
    -moz-appearance: none!important;
    background: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
}
#customization-done-button {
  color: var(--in-content-text-color);
  border-color: var(--in-content-primary-button-background)!important;
  background-color: var(--in-content-primary-button-background)!important
}
#customization-done-button:-moz-any(:focus,:active,:hover):not([disabled]) {
  background-color: var(--in-content-primary-button-background-hover)!important
}
.findbar-textbox {
  border-radius: 3px!important
}
.findbar-textbox:not([status=notfound]) {
  background-color: var(--in-content-box-background)!important;
  border-color: var(--in-content-box-border-color)!important;
  color: var(--in-content-page-color)!important
}
.browserContainer > findbar {
  border-top: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important
}
.findbar-find-next,
.findbar-find-previous {
  border: none!important;
  background: 0 0!important;
  border-radius: 2px!important;
  fill: var(--in-content-page-color)!important
}
.findbar-find-previous {
  margin-left: 6px!important
}
.findbar-find-next:hover,
.findbar-find-previous:hover {
  background: var(--toolbarbutton-hover-background)!important
}
@-moz-document url-prefix(chrome://) {
  .browser-toolbar.titlebar-color:-moz-lwtheme-brighttext,
  .tab-background:not([selected]):-moz-lwtheme-brighttext {
    background-color: var(--tab-background-color)!important;
    color: var(--tab-color)!important
  }
  @media screen and (-moz-os-version:windows-win7) {
    window {
      background-color: var(--tone-9)!important;
      color: var(--in-content-page-color)!important
    }
  }
}
.tab-throbber::before {
  fill: var(--in-content-category-text-selected)!important;
  opacity: 1!important
}
.panel-arrow {
  filter: invert(70%)!important
}
#appMenu-zoomReset-button,
.panel-subview-body {
  color: var(--in-content-selected-text)!important;
  background: var(--in-content-box-background)!important
}
.panel-subview-footer,
[class^=PanelUI-] {
  color: var(--in-content-selected-text)!important;
  background: var(--in-content-page-background)!important
}
#BMB_bookmarksPopup .popup-internal-box {
  background-color: var(--in-content-box-background)!important
}
.popup-internal-box > autorepeatbutton {
  -moz-appearance: none!important;
  background-color: var(--in-content-page-background)!important
}
.popup-internal-box > .autorepeatbutton-down > .autorepeatbutton-icon,
.popup-internal-box > .autorepeatbutton-up > .autorepeatbutton-icon {
  filter: invert(40%)!important
}
/*! webextension popup fix */
.webextension-popup-browser {
  background: #fff!important
}
photonpanelmultiview panelview {
  background: 0 0!important;
  color: var(--in-content-page-color)!important
}
#emptyDownloads {
  background: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important
}
#downloadsFooterButtons {
  background: var(--in-content-page-color)!important;
  color: var(--in-content-page-color)!important
}
#downloadsFooter[showingsummary] > stack:not(:hover),
.downloadsPanelFooterButton {
  background-color: var(--in-content-category-header-background)!important
}
#downloadsListBox {
  background: var(--in-content-page-background)!important
}
#appMenu-mainView toolbarbutton:hover,
#customizationui-widget-multiview toolbarbutton:hover,
#widget-overflow-list toolbarbutton:hover {
  background: var(--in-content-category-header-background)!important
}
#BMB_bookmarksPopup {
  background: 0 0!important
}
#identity-popup-securityView {
  background: var(--in-content-box-background)!important
}
#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack > .panel-subviews {
  background: var(--in-content-box-border-color)!important
}
.identity-popup-expander[panel-multiview-anchor] {
  background-color: var(--in-content-primary-button-background)!important;
  fill: var(--in-content-text-color)!important
}
#identity-popup-mainView {
  background: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important
}
#identity-popup[connection^=secure] .identity-popup-security-content {
  fill: var(--in-content-category-text-selected)!important
}
}
.identity-popup-expander {
  border-color: var(--in-content-box-border-color)!important;
  background-color: var(--in-content-box-background)!important;
  fill: var(--in-content-box-border-color)!important
}
.popup-notification-button[default][highlight=true]:not([disabled]) {
  background-color: var(--in-content-primary-button-background)!important;
  color: var(--in-content-text-color)
}
#update-available-whats-new,
.text-link {
  color: var(--in-content-link-color)!important
}
.popup-notification-icon[popupid=update-available],
.popup-notification-icon[popupid=update-manual],
.popup-notification-icon[popupid=update-restart] {
  background-color: var(--in-content-item-selected)!important;
  border-radius: 50%
}
toolbarbutton {
  text-shadow: none!important
}
.panel-banner-item > .toolbarbutton-multiline-text {
  color: var(--in-content-page-color)!important
}
.panel-banner-item {
  background-color: hsla(96,65%,37%,.9)!important
}
#update-manual-whats-new {
  color: var(--in-content-link-color)!important
}
toolbar[brighttext] {
  --toolbarbutton-icon-fill-attention: var(--in-content-primary-button-background)!important
}
toolbarseparator {
  border-color: var(--in-content-table-border-dark-color)!important
}
::-moz-selection {
  background: var(--in-content-link-color);
  color: var(--in-content-selected-text)!important
}
@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xul) {
  #topBar {
    -moz-appearance: none!important;
    background: var(--in-content-category-header-background)!important
  }
  #mainDeck {
    background: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  textbox {
    color: var(--in-content-page-color)!important
  }
  .text-link {
    color: var(--in-content-link-color)!important
  }
  button {
    -moz-appearance: none!important;
    background-color: var(--in-content-page-background)!important;
    border: 1px solid!important;
    border-radius: 3px!important;
    color: var(--in-content-page-color)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  button:hover {
    background-color: var(--in-content-box-background)!important
  }
  #feedListbox,
  #feedListbox > richlistitem,
  #imagecontainerbox,
  .groupbox-body,
  .permission {
    -moz-appearance: none!important;
    background: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  #feedListbox richlistitem {
    border-color: var(--in-content-box-border-color)!important
  }
  #permPluginTemplate {
    color: var(--in-content-page-color)!important
  }
  #feedListbox,
  #imagecontainerbox,
  #permList,
  .groupbox-body {
    border: 1px solid!important
  }
  #permList {
    -moz-appearance: none!important
  }
  groupbox.collapsable caption .caption-icon {
    filter: invert(65%)!important
  }
  tree {
    -moz-appearance: none!important;
    color: var(--in-content-page-color)!important
  }
  treecol {
    -moz-appearance: none!important;
    border: 0 solid!important;
    border-color: var(--in-content-box-background)!important
  }
  treecolpicker {
    -moz-appearance: none;
    border: none!important;
    filter: invert(84%)
  }
  .checkbox-check[checked] {
    list-style-image: url(chrome://global/skin/icons/check.svg);
    -moz-context-properties: fill;
    fill: var(--in-content-border-highlight)!important
  }
  #imagetree,
  #metatree {
    border: 1px solid!important
  }
  #viewGroup > radio {
    -moz-appearance: none!important;
    background-color: var(--in-content-box-background)!important;
    text-shadow: none!important;
    padding: 0 8px!important;
    color: var(--in-content-page-color);
    border-right: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  #viewGroup > radio[selected=true] {
    color: var(--in-content-selected-text)!important
  }
  #viewGroup > radio:first-of-type {
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important
  }
  #viewGroup > radio:last-of-type {
    border: none!important;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important
  }
  @media screen and (-moz-windows-theme),
  screen and (-moz-windows-classic),
  screen and (-moz-windows-default-theme),
  screen and (-moz-os-version:windows-win7),
  screen and (-moz-os-version:windows-win8),
  screen and (-moz-os-version:windows-win10) {
    #topBar {
      -moz-appearance: none!important;
      background-color: var(--in-content-category-header-background)!important;
      border: none!important;
      padding-top: 5px!important;
      padding-bottom: 5px!important;
      color: var(--selected-icon-fill-color)!important
    }
    #metaTagsCaption,
    #security-identity,
    #security-identity-groupbox,
    #security-privacy,
    #security-privacy-groupbox,
    #security-technical,
    #security-technical-groupbox {
      -moz-appearance: none!important;
      background-color: var(--in-content-page-background)!important;
      border: none!important;
      color: var(--in-content-selected-text)!important
    }
    #security-identity-groupbox,
    #security-privacy-groupbox,
    #security-technical-groupbox {
      -moz-appearance: none!important;
      background-color: var(--in-content-category-header-background)!important
    }
  }
}
@-moz-document url-prefix(chrome://browser/content/preferences/cookies.xul) {
  #CookiesDialog {
    -moz-appearance: none!important;
    background-color: var(--in-content-page-background)!important
  }
  #domainCol,
  #nameCol {
    -moz-appearance: none!important;
    border: none!important
  }
  #domainCol {
    border-right: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .windowDialog,
  textbox {
    color: var(--in-content-page-color)!important
  }
  textbox[type=search] {
    -moz-appearance: none!important;
    background-color: var(--in-content-box-background)!important;
    border: 1px solid;
    border-color: var(--in-content-box-border-color)!important;
    border-radius: 3px!important;
    padding: 2px 4px 2px 2px!important
  }
  #cookiesList {
    -moz-appearance: none!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  button {
    -moz-appearance: none!important;
    background-color: var(--in-content-page-background)!important;
    border: 1px solid!important;
    border-radius: 3px!important;
    color: var(--in-content-page-color)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  button:hover {
    background-color: var(--in-content-box-background)!important
  }
}
@-moz-document url-prefix(chrome://pippki) {
  tab {
    -moz-appearance: none!important;
    background-color: var(--in-content-box-background)!important;
    text-shadow: none!important;
    padding: 0 8px!important;
    color: var(--in-content-page-color);
    border-right: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  tab:first-of-type {
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important
  }
  tab:last-of-type {
    border: none!important;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important
  }
  tab[selected=true] {
    color: var(--in-content-selected-text)!important
  }
  #certDetails {
    -moz-appearance: none!important;
    background-color: var(--in-content-page-background)!important
  }
  tree {
    -moz-appearance: none!important;
    color: var(--in-content-page-color)!important
  }
  treecol {
    -moz-appearance: none!important;
    border: 0 solid!important;
    border-color: var(--in-content-box-background)!important
  }
  treecolpicker {
    -moz-appearance: none;
    border: none!important
  }
  .windowDialog,
  dialog,
  textbox {
    color: var(--in-content-page-color)!important
  }
  #certDumpVal,
  .scrollfield,
  textbox[type=search] {
    -moz-appearance: none!important;
    background-color: var(--in-content-box-background)!important;
    border: 1px solid;
    border-color: var(--in-content-box-border-color)!important;
    border-radius: 3px!important;
    padding: 2px 4px 2px 2px!important
  }
  button {
    -moz-appearance: none!important;
    background-color: var(--in-content-page-background)!important;
    border: 1px solid!important;
    border-radius: 3px!important;
    color: var(--in-content-page-color)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  button:hover {
    background-color: var(--in-content-box-background)!important
  }
}
@-moz-document url-prefix(chrome://pippki/content/exceptionDialog) {
  #exceptiondialog {
    -moz-appearance: none!important;
    background-color: var(--tone-8)!important
  }
  textbox {
    -moz-appearance: none!important;
    min-height: 20px!important;
    background: var(--in-content-box-background)!important;
    border: 1px solid var(--in-content-box-border-color);
    padding: 1px
  }
}
#navigator-toolbox::after {
  border-bottom: 0!important
}
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
  background: var(--in-content-page-background)!important
}
#identity-box.verifiedIdentity {
  --urlbar-separator-color: var(--secure-connection-color)!important
}
#identity-box.verifiedIdentity #identity-icon-labels,
.identity-popup-connection-secure {
  color: var(--secure-connection-color)!important
}
#connection-icon,
#identity-popup[connection^=secure] #identity-popup-security-content,
#identity-popup[connection^=secure] #identity-popup-securityView {
  fill: var(--secure-connection-color)!important
}
#sidebar-header,
#sidebar-search-container,
#sidebar-search-container #viewButton,
.content-header,
.sidebar-header {
  background: var(--in-content-category-header-background)!important;
  color: var(--in-content-page-color)!important
}
.sidebar-search-container.tabs-container.sync-state.selected .search-box,
hbox#sidebar-search-container textbox#search-box {
  -moz-appearance: none!important;
  background-color: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important;
  min-height: 20px!important;
  padding: 0 0 0 4px!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important;
  border-radius: 3px!important
}
.sidebar-search-container.tabs-container.sync-state.selected .search-box .textbox-input-box {
  padding: 2px
}
#sidebar,
#sidebar-box,
#template-container,
#webext-panels-browser,
#webextpanels-window {
  background: var(--in-content-page-background)!important
}
.sidebar-placesTree {
  -moz-appearance: none!important;
  color: var(--in-content-page-color)!important;
  background-color: var(--in-content-page-background)!important;
  opacity: 1!important
}
#sidebar-box[sidebarcommand=_bbb81fb3-49c1-4a42-bcc9-94bc93e19fb8_-sidebar-action] #sidebar-icon,
#sidebar-box[sidebarcommand=treestyletab_piro_sakura_ne_jp-sidebar-action] #sidebar-icon {
  filter: invert(60%)
}
#button__bbb81fb3-49c1-4a42-bcc9-94bc93e19fb8_-sidebar-action .toolbarbutton-icon,
#button_treestyletab_piro_sakura_ne_jp-sidebar-action .toolbarbutton-icon {
  filter: invert(87%)
}
.button-menu-dropmarker,
.button-menubutton-dropmarker {
  filter: invert(65%)
}
.item.client.device-image-desktop > .item-title-container > .item-icon-container,
.sidebar-placesTree::-moz-tree-image,
.sidebar-placesTreechildren::-moz-tree-image {
  fill: var(--in-content-page-color)!important
}
#sidebar-header {
  border-color: hsla(240,5%,5%,.1)!important
}
.sidebar-splitter {
  border-color: transparent !important;
}
.deck .instructions,
.item-title {
  color: var(--in-content-page-color)!important
}
@-moz-document url-prefix(chrome://browser/content/places) {
  ::-moz-tree-row(selected) {
    -moz-appearance: none!important;
    background-color: var(--theme-selection-background)!important
  }
}
@-moz-document url(chrome://browser/content/places/bookmarksSidebar.xul) {
  @media screen and (-moz-os-version:windows-win7) {
    treechildren {
      --treechildren-outline: none!important
    }
  }
}
#statuspanel #statuspanel-label,
statuspanel .statuspanel-label {
  background-color: var(--in-content-category-header-background)!important;
  color: var(--in-content-page-color)!important;
  border: none!important
}
.tab-line[selected=true] {
  background-color: var(--in-content-border-focus)!important
}

/* Titlebar */
.titlebar-button {
	width: 46px !important;
	height: 32px !important;
}
.titlebar-button > .toolbarbutton-text {
	display: none !important;
}
#minimize-button, #restore-button, #close-button {
	width: 46px !important;
	height: 32px !important;
}
#restore-button {
	list-style-image: url(../img/titlebox-full-restore.png) !important;
}
#titlebar-buttonbox, #TabsToolbar, #toolbar-menubar, #main-menubar {
	height: 32px !important;
}
#toolbar-menubar > #menubar-items > #main-menubar > menu {
	padding: 0px !important;
}
#main-window[sizemode="fullscreen"] #minimize-button {
	padding-top: 8px !important;
}
.titlebar-min {
	padding-bottom: 7px !important;
}
.titlebar-min:hover, .titlebar-max:hover, #minimize-button:hover, #restore-button:hover {
	background-color: var(--titlebar-min-max-hover-bg-color) !important;
}
.titlebar-min:hover:active, .titlebar-max:hover:active, #minimize-button:hover:active, #restore-button:hover:active {
	background-color: var(--titlebar-min-max-active-bg-color) !important;
}
.titlebar-close:hover, #close-button:hover {
	background-color: var(--titlebar-close-hover-bg-color)	!important;
}
.titlebar-close:hover:active, #close-button:hover:active {
	background-color: var(--titlebar-close-active-bg-color) !important;
}
.titlebar-spacer[type="pre-tabs"] {
	display: none !important;
}
.titlebar-spacer[type="post-tabs"] {
	display: none !important;
}
.titlebar-buttonbox-container, #window-controls {
	margin-left: 50px !important;
	margin-bottom: 0px !important;
}
#toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) {
	min-height: 0 !important;
	height: 0 !important;
}
/* Window */
#main-window[chromemargin] {
	background-color: black !important;
	-moz-appearance: -moz-win-glass !important;
}
#main-window[sizemode="normal"][tabsintitlebar="true"] {
	margin-top: 1px !important;
}
/* Tabs */
.toolbar-items > spacer:first-of-type {
	display: none !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}
#tabbrowser-tabs {
	--tab-line-color: var(--uwp-accent-color) !important;
	--tab-loading-fill: var(--uwp-accent-color) !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
	border-top: none !important;
}
.tabbrowser-tab > .tab-stack > .tab-background[selected] {
	background: #2A2A2A !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]) {
	background: #2A2A2A !important;
}
.tab-throbber[progress]:not([selected="true"])::before {
    fill: #555555 !important;
}
.tabbrowser-tab::before, .tabbrowser-tab::after {
	display: none !important;
}
.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1) !important;
	background: transparent !important;
	margin-bottom: 0px !important;
}
.tabs-newtab-button:hover, #new-tab-button:hover, #alltabs-button:hover, .scrollbutton-up:hover, .scrollbutton-down:hover {
	background: #2A2A2A !important
}
.tabs-newtab-button:hover:active, #new-tab-button:hover:active, #alltabs-button:hover:active, .scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: #444 !important
}
.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up[disabled], .scrollbutton-up[disabled]:active, .scrollbutton-down[disabled], .scrollbutton-down[disabled]:active {
	background: transparent !important;
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent !important;
}
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
	padding-bottom: 0px !important;
}
#navigator-toolbox[movingtab] > #nav-bar {
	margin-top: 0px !important;
}
#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent !important;
}
#alltabs-button > .toolbarbutton-badge-stack {
	background: none !important;
}
#alltabs-button[open] {
	background: #444 !important;
}
.all-tabs-item[selected] {
    box-shadow: inset 4px 0 var(--uwp-accent-color) !important;
}
/* navbar stuff */
#nav-bar {
	box-shadow: none !important;
}
#nav-bar textbox {
	background-color: transparent !important;
}
#nav-bar textbox:hover {
	background-color: rgba(75, 75, 75, 1) !important;
}
#urlbar, .searchbar-textbox {
	border: none !important;
}
#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}
window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	background-image: none !important;
	background-color: rgba(40, 40, 40, 0) !important;
	box-shadow: none !important;
	border: 0px !important;
}
toolbarbutton.bookmark-item {
	border: none!important;
}
toolbarbutton.bookmark-item:hover {
	background-color: rgba(75, 75, 75, 1) !important;
}
toolbarbutton.bookmark-item > .toolbarbutton-text[value=""] {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
#content-deck {
	-moz-appearance: -moz-win-exclude-glass !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
	background: #1A1A1A !important;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
.close-icon > .toolbarbutton-icon {
	border-radius: 0px !important;
}

/* Findbar */
.findbar-find-previous, .findbar-find-next {
	border: none !important;
	margin-left: 5px !important;
	background: rgb(80, 80, 80) !important;
	border-radius: 0px !important;
}
findbar {
	background-color: #161616 !important;
	border-top: none !important;
}
findbar[hidden] {
	visibility: collapse !important;
	margin-bottom: -40px !important;
	opacity: 1 !important;
}
.findbar-button, .findbar-find-previous, .findbar-find-next {
	-moz-appearance: none !important;
	padding: 3px !important;
	background-color: #333333 !important;
	border: 2px #333333 solid !important;
	color: white !important;
}
.findbar-button:hover, .findbar-find-previous:hover, .findbar-find-next:hover {
	color: white !important;
	border: 2px #858585 solid !important;
}
.findbar-button:hover:active, .findbar-find-previous:hover:active, .findbar-find-next:hover:active {
	color: white !important;
	background-color: #666666 !important;
	border: 2px #858585 solid !important;
}
.findbar-button[checked="true"] {
	background-color: var(--uwp-accent-color) !important;
	border: 2px var(--uwp-accent-color) solid !important;
}
.findbar-button[checked="true"]:hover {
	color: white !important;
	border: 2px #858585 solid !important;
}
.findbar-find-previous[disabled="true"]:hover, .findbar-find-next[disabled="true"]:hover, .findbar-find-previous[disabled="true"]:hover:active, .findbar-find-next[disabled="true"]:hover:active {
	border: 2px #333333 solid !important;
	background-color: #333333 !important;
}
.toolbarbutton-text {
	padding: 3px !important;
}
.findbar-button > .toolbarbutton-text {
	background-color: transparent !important;
}
.findbar-find-previous > .toolbarbutton-text, .findbar-find-next > .toolbarbutton-text {
	padding: 0 !important;
}
.findbar-textbox {
	border-radius: 0px !important;
}
/* Panels */
.panel-arrowbox {
	display: none !important;
}
.panel-arrowcontent {
	border: none !important;
	box-shadow: none !important;
	/*box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .40) !important;
	margin: 30px !important;
	margin-top: 8px !important;
	margin-left: 18px !important;
	margin-right: 18px !important;
	margin-bottom: 28px !important;*/
}
panel .text-link {
	color: var(--uwp-accent-color) !important;
}
/* Various Panels */
#appMenu-popup {
	margin-top: -2px !important;
	margin-right: -19px !important;
}
#identity-popup {
	margin-top: 4px !important;
	margin-left: -21px !important;
}
#pageActionPanel {
	margin-top: 0px !important;
}
#editBookmarkPanel .panel-arrowcontent {
	margin-top: 8px !important;
}
#editBookmarkPanelFavicon {
	display: none !important;
}
#editBMPanel_folderRow .menulist-label-box {
	fill: white !important;
}
#editBMPanel_folderRow .menulist-label {
	color: white !important;
	padding-left: 5px !important;
}
#editBookmarkPanelImage {
	border-bottom: none !important;
}
#editBookmarkPanel .panel-header {
	border-bottom: none !important;
}
#notification-popup {
	margin-top: 4px !important;
}
#widget-overflow {
	margin-top: -2px !important;
}
#appMenu-notification-popup {
	margin-top: -2px !important;
}
/* URL Panel */
#PopupAutoCompleteRichResult {
	border: none !important;
}
.autocomplete-richlistbox {
	padding: 0 !important;
	background: rgb(42, 42, 42) !important;
}
.autocomplete-richlistitem {
	background: rgb(42, 42, 42) !important;
}
.search-panel-one-offs {
	background-color: #333333 !important;
}
.searchbar-engine-one-off-item {
	min-width: 38px !important;
}
.search-setting-button-compact {
	height: 22px !important;
}
button.dummy:hover {
	border: 2px #333333 solid !important;
}
button.searchbar-engine-one-off-item[selected] {
	color: white !important;
	border: 2px #858585 solid !important;
}
/* Tracking toggle */
#appMenu-tp-toggle {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
#appMenu-tp-toggle[enabled="true"] {
	background-color: var(--uwp-accent-color) !important;
	border: 1px solid var(--uwp-accent-color) !important;
}
#appMenu-tp-toggle > .toolbarbutton-text {
	padding: 0px !important;
}
#customizationui-widget-panel {
	margin-top: -2px !important;
}
/* Customization Page Overflow */
#customization-panelWrapper > .panel-arrowcontent {
	background: rgba(42, 42, 42, 1) !important;
}
#customization-panel-container {
	padding-right: 0px !important;
}
/* Sync Icon */
#appMenu-fxa-icon[syncstatus="active"] > .toolbarbutton-icon, #PanelUI-remotetabs-syncnow[syncstatus="active"] > .toolbarbutton-icon {
	fill: var(--uwp-accent-color) !important;
}
/* Sidebar */
#sidebar-header {
	background: #2A2A2A !important;
	color: black !important;
	border-bottom: none !important;
}
#sidebar-switcher-target > #sidebar-icon {
	fill: white !important;
}
#sidebar-search-container {
	background: black !important;
}

#sidebar-box {
	background-color: black !important;
}
/* Status Panel */
#statuspanel-label {
	background-color: #2A2A2A !important;
	color: lightgray !important;
	border: none !important;
	padding: 4px !important;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .5) !important;
}
/* Notifications? */
notification {
	background-color: var(--uwp-bottom-background) !important;
	border: none !important;
	color: white !important;
}
:root {
	--titlebar-min-max-hover-bg-color: rgba(42, 42, 42, 1);
	--titlebar-min-max-active-bg-color: #444;
	--titlebar-close-hover-bg-color: #E81123;
	--titlebar-close-active-bg-color: #F06F79;
	--toolbarbutton-border-radius: 0px !important;
	--tab-min-height: 32px !important;
	--arrowpanel-background: #2A2A2A !important;
	--arrowpanel-dimmed: #2A2A2A !important;
	--chrome-background-color: black !important;
	--chrome-secondary-background-color: #2A2A2A !important;
	--toolbar-bgcolor: #2A2A2A !important;

	--uwp-bottom-background: #161616;
}

/************** MY EDITS ***************/

#TabsToolbar {
    visibility: collapse;
		margin-top: 0px !important;
}
/* Sidebar min and max width removal */
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}




#pocket-button-box,
/* #identity-icon-labels, */
/* #connection-icon,  */
/* #appMenu-find-button, */
/* #nav-bar-overflow-button, */
/* #sidebar-button, */
/* #urlbar-zoom-button, */
/* #appMenu-fxa-container+toolbarseparator, */
/* #appMenu-edit-controls+toolbarseparator, */
/* #appMenu-customize-button+toolbarseparator, */
/* #appMenu-open-file-button, */
/* #appMenu-save-file-button, */
/* #appMenu-edit-controls, */
/* #appMenu-customize-button, */
#new-tab-button, 
#pageActionSeparator, 
#appMenu-fxa-container,
#appMenu-more-button,
#ar-button,
#forward-button,
#back-button,
/* .autocomplete-history-dropmarker, */
/* #identity-icon-labels, */
#identity-icon,
#reader-mode-button,
.urlbar-go-button,
.tabs-newtab-button.toolbarbutton-1,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional {
    display: none !important;
}

/* move identity labels right */


/*                             THIS IS THE PART THAT MAKES THE URLBAR GO TO THE BOTTOM                                                                     */

#navigator-toolbox {
  -moz-box-ordinal-group: 2;
}

#main-window[sizemode="maximized"] {
    padding-top: 0px !important;
}

/* hide tab toolbar when fullscreen */
#nav-bar[inFullscreen],
#TabsToolbar[inFullscreen] {
    display: none;
}

/* Tab bar below Navigation & Bookmarks Toolbars */
#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  box-shadow: none !important;
}
#PersonalToolbar { /* bookmarks toolbar */
  -moz-box-ordinal-group: 2 !important;
}

/* Background for Light and Dark themes */
#main-window[lwthemetextcolor="bright"] #TabsToolbar,
#main-window[lwthemetextcolor="dark"] #TabsToolbar {
  background-color: var(--chrome-secondary-background-color) !important;
  background-image: none !important;
}
#main-window[lwthemetextcolor="dark"] .scrollbutton-up,
#main-window[lwthemetextcolor="dark"] .scrollbutton-down,
#main-window[lwthemetextcolor="dark"] .tabs-newtab-button,
#main-window[lwthemetextcolor="dark"] #new-tab-button,
#main-window[lwthemetextcolor="dark"] #alltabs-button {
  fill: var(--lwt-text-color) !important;
}
/* Left and right borders on Win 7 & 8, but not on 10 and later: */
@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  /* Vertical toolbar border */
  #main-window[sizemode=normal] #navigator-toolbox > toolbar#TabsToolbar {
    border-left: 1px solid hsla(240,5%,5%,0.3) !important;;
    border-right: 1px solid hsla(240,5%,5%,0.3) !important;;
    background-clip: padding-box;
  }
}

/* Override vertical shifts when moving a tab (9 Jan 2018) */
#TabsToolbar[movingtab] {
  padding-bottom: 0 !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
#TabsToolbar[movingtab] + #nav-bar {
  margin-top: 0 !important;
}



#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"] +
	richlistitem[actiontype="searchengine"] {
		display:none !important;
		box-shadow: none !important;

	}
	#PopupAutoCompleteRichResult .autocomplete-richlistbox {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin-top: 0px;
		margin-bottom: 0px;
		box-shadow: none !important;

	}

	/* Display drop-marker only when URL bar is hovered (Firefox default) */
	/* Set max-height for items visible without scrolling */
	#PopupAutoCompleteRichResult .autocomplete-richlistbox {
		/* height:auto doesn't work in photon */
		max-height: calc(27px * 10) !important;
/* 		font-family: "ypn envypn"; */
		box-shadow: none !important;
	}
	/* Default drop-down width */
	/* Font-sizes */
	#PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-title {
		font-size: 12px !important;
/* 		font-family: "ypn envypn"; */
	}
	#PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-url,
	#PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-action {
		font-size: 12px !important;
/* 		font-family: "ypn envypn"; */
	}
	/* Dark Themed Drop-down */
	/* Dark Theme - Firefox 48+ */
	#PopupAutoCompleteRichResult .autocomplete-richlistbox {
		background-color: #1a1c1e !important;
/* 		font-family: "ypn envypn"; */
	}
	#PopupAutoCompleteRichResult .autocomplete-richlistitem {
		border-bottom-color: #1a1c1e !important;
/* 		font-family: "ypn envypn"; */
	}
	.autocomplete-richlistitem .ac-title,
	.autocomplete-richlistitem .ac-action,
	.autocomplete-richlistitem .ac-separator {
		color: #eee !important;
/* 		font-family: "ypn envypn"; */
	}
	.autocomplete-richlistitem[selected=true] {
		background-color: #1a1c1e !important;
/* 		font-family: "ypn envypn"; */
	}
	.autocomplete-richlistitem[selected=true] .ac-title,
	.ac-title[selected],
	.autocomplete-richlistitem[selected=true] .ac-action,
	.ac-action[selected],
	.autocomplete-richlistitem[selected=true] .ac-separator,
	.ac-separator[selected] {
		color: #eee !important;
/* 		font-family: "ypn envypn"; */
	}
	.autocomplete-richlistitem[selected=true] .ac-url,
	.ac-url[selected] {
		color: #69f !important;
/* 		font-family: "ypn envypn"; */
	}


	/* Boarder color Drop Down */
 #PopupAutoCompleteRichResult {
 border: none !important;
/*  font-family: "ypn envypn"; */

 }

 #PopupAutoCompleteRichResult {
		 /* bindings.xml in the same folder as userChrome.css */
		 -moz-binding: url("bindings.xml#urlbar-popup") !important;
 }

/*                             THIS IS THE PART THAT MAKES THE URLBAR GO TO THE BOTTOM                                                                     */

#nav-bar-overflow-button, #PanelUI-menu-button {
  color: #0bc6e8 !important;
}



/* block menu button options */
#appMenu-new-window-button,
#appMenu-private-window-button,
#appMenuRestoreLastSession,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-zoom-controls,
#appMenu-developer-button {
	display: none !important;
}


#nav-bar {
    -moz-box-ordinal-group: 2 !important;
    box-shadow: none !important;
    border-top: 0px !important;
    --tab-min-height: 20px !important;
    font-size: 12px !important;
		font-family: "ypn envypn";
    border-bottom:  none !important;
    background: #1a1c1e !important;
}


#urlbar {
  /* Style */
/*   background: #1a1c1e !important; */
/*   background: rgb(228, 5, 5) !important; */
  border: none !important;
  box-shadow: none !important;
  font-size: 12px !important;
	font-family: "ypn envypn";
  box-shadow: none !important;
  color: #0bc6e8 !important;
  margin: -0px !important;
}

#statuspanel-label,
statuspanel[type="overLink"] #statuspanel-label,
statuspanel[type="status"] #statuspanel-label[value^="Looking"],
statuspanel[type="status"] #statuspanel-label[value^="Connect"],
statuspanel[type="status"] #statuspanel-label[value^="Waiting"],
statuspanel[type="status"] #statuspanel-label[value^="Transfer"]{
  color: #0bc6e8 !important;
	font-family: "ypn envypn";
	font-size: 12px !important;
  box-shadow: none !important;

	text-align: center;
}

toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}

